@font-face{
    font-family: MonserratFuenteCustom;
    src: url(font/Montserrat-Regular.ttf);
}

h1 {
    font-family: 'Mansalva', cursive;
    font-style: italic;
    text-transform: uppercase;
    font-size: 50px;
}

h3 {
    font-family: MonserratFuenteCustom, Comic sans-serif;
    font-size: 35px;
    font-weight: lighter;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
}